@import 'primevue/resources/primevue.min.css'; //core css
@import 'primeicons/primeicons.css'; //icons
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap';

:root {
    --bs-body-font-size: 15px;
    --bs-body-bg: #f8faff;
    --bs-body-color: #67748e;
}